%h1
  Welcome to Dummy

%h3
  Find why Dummy Application is helping everyone live better!

.action-box
  = link_to 'Login', new_user_session_path, :id => "bt-login"
  %span.or or
  = link_to 'Create Account', new_user_registration_path, :id => "bt-signup"
