%h1
  Welcome to Dummy

%h3
  Find why Dummy Application is helping everyone live better!

.action-box
  = link_to 'Login', login_path, :id => "bt-login"
  %span.or or
  = link_to 'Create Account', signup_path, :id => "bt-signup"
