%table
  %tr
    %th ID
    %th Total
    %th Status
  - @invoices.each do |invoice|
    %tr
      %td
        = invoice.id
      %td
        = invoice.total
      %td
        = invoice.status
%br
= link_to I18n.t("iugu.back"), account_view_path(id: params[:account_id]), class: "button"
