%h1
  Signup for New Account

%p
  Form with fields HERE

= simple_form_for :signup, :url => '/signup', :method => 'POST' do |f|
  = f.text_field :email, :hint => 'joao@joao.com'
  = f.submit 'Signup'

